{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />

<a href="{% url 'projects:index' %}"> Projects </a>

<h4> {{project.title}} </h4>
<h4> Lead: {{project.lead}} </h4>

<a href="{% url 'projects:create_issue' project.id %}"> Create Issue </a>

{% if project.issue_set.all.count == 0 %}
  <p> No issues for this projects. </p>
{% else %}
  <table>
      <tr>
        <th> Issue </th>
        <th> Assigne </th>
        <th> Priority </th>
        <th> Status </th>
      </tr>
    {% for issue in project.issue_set.all %}
      <tr>
        <td><a href="{% url 'projects:issue' issue.id %}"> {{ issue.summary }} </a></td>
        <td> {{ issue.assignee }} </td>
        <td> {{ issue.priority }} </td>
        <td> {{ issue.status }} </td>

        {% if issue.status == 'OPEN' or issue.status == 'RESOLVED' %}
          <form action="{% url 'projects:start' issue.id %}" method="post"> {% csrf_token %}
            <td> <input type='submit' value='START'> </td>
          </form>
        {% elif issue.status == 'IN_PROGRESS' or issue.status == 'REOPENED' %}
          <form action="{% url 'projects:stop' issue.id %}" method="post"> {% csrf_token %}
            <td> <input type='submit' value='STOP'> </td>
          </form>
        {% endif %}
        {% if issue.status != 'CLOSED' %}        
          <form action="{% url 'projects:close' issue.id %}" method="post"> {% csrf_token %}
            <td> <input type='submit' value='CLOSE'> </td>
          </form>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}
