{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />

<a href="{% url 'projects:index' %}"> Projects </a>

<h4> {{project.title}} </h4>
<h4> Lead: {{project.lead}} </h4>

<a href="{% url 'projects:create_issue' project.id %}"> Create Issue </a>

{% if project.issue_set.all.count == 0 %}
  <p> No issues for this projects. </p>
{% else %}
  <table>
      <tr>
        <th> Issue </th>
        <th> Status </th>
        <th> Assigne </th>
        <th> Priority </th>
      </tr>
    {% for issue in project.issue_set.all %}
      <tr>
        <td><a href="{% url 'projects:issue' issue.id %}"> {{ issue.summary }} </a></td>
        <td> {{ issue.status }} </td>
        <td> {{ issue.assigne }} </td>
        <td> {{ issue.priority }} </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
