{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />

<a href="{% url 'projects:index' %}"> Projects </a>

<h3> {{project.title}} </h3>
<h3> Lead: <a href=""> {{project.lead}} </a> </h3>

<a href="{% url 'projects:create_issue' project.id %}"> Create Issue </a>

{% if project.issue_set.all.count == 0 %}
  <p> No issues for this projects. </p>
{% else %}
  <div id="issues">
    <table>
      <tr>
        <th> Issue </th>
        <th> Status </th>
        <th> Assigne </th>
        <th> Priority </th>
       </tr>

      {% for issue in project.issue_set.all %}
        <tr>
          <td><a href=""> {{ issue.summary }} </a></td>
          <td>            {{ issue.status }}      </td>
          <td><a href=""> {{ issue.assigne }} </a></td>
          <td>            {{ issue.priority }}    </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endif %}
