{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />

<a href="{% url 'projects:create' %}">Create Project</a>

{% if projects_list %}
  <div id="projects">
    <table>
      <tr>
        <th>Project</th>
        <th>Project Lead</th>
      </tr>
      {% for project in projects_list %}
        <tr>
          <td><a href="{% url 'projects:detail' project.id %}">{{ project.title }}</a></td>
          <td><a href="">{{project.lead}}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <p>No projects available yet.</p>
{% endif %}
